.play {
    margin: 15px;
    padding: 5px;
    width: 150px;
    font-size: 2rem;
    background-color: #bb54c5;
    border: none;
    border-radius: 8px;
    font-family: 'Oxanium', cursive;
    cursor: pointer;
}

.play:hover {
    background-color: #df9769;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
    .play {
        color: chartreuse;
    }
}
