body {
  margin: 0;
  height: 100%;
  /* width: 100vw; */
  /* min-width: 100vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #08044e;
  color: white;
  font-family: 'Oxanium', cursive;
}

.container {
  min-width: 1150px;
  height: 90vh;
}

.home-title-container {
  margin: 1%;
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
}

.left-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article1-container {
  margin: 1%;
  padding: 2%;
  display: flex;
  display: flex;
  justify-content: space-evenly;
}

.article2-container {
  margin: 2%;
  padding: 2%;
  display: flex;
  display: flex;
  justify-content: space-evenly;
}

p {
  padding: 15px;
  width: 500px;
}

.login-container, .register-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.login-div {
  text-align: center;
}

.language-container {
  margin-top: 100px;
  display: flex;
}

.language-choice {
  padding: 15px 4% 15px 4%;
}

.language-buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-buttons-div > div {
  padding: 15px;
}

.language-play-button-div {
  text-align: center;
}

.language-example {
  padding: 15px 4% 15px 4%;
}

.how-it-works {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  text-align: center;
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-5deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  30% {
    transform: rotateZ(4deg);
  }
  35% {
    transform: rotateZ(-3deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.animation {
  transition: transform 0.2s;
  animation: wiggle 3s linear infinite;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 4% 4% 4%;
  padding: 2%;
}

.left2, .right2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left2 > a {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left2 > a:hover {
  border-radius: 5px;
}

.right-inner-2 > a {
  font-size: 1em;
  margin: 10px;
}

.right-inner-2 > a:hover {
  color: #df9769;
  transition: 0.5s;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}
 
.team {
  padding-top: 2%;
  padding-bottom: 2%;
}

.slide-image-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-icon, .python-icon {
  color: #df9769;
}

.js-icon:hover, .python-icon:hover {
  color: white;
}

.question-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.code-mirror-div {
  margin: 15px;
  display: flex;
}

.code-mirror {
  width: 750px;
}

.options {
  padding: 15px;
}

@media screen and (max-width: 1100px) {
  
  p {
    font-size: 12px;
    width: 350px;
  }
  
  .container {
    min-width: 0px;
  }
  
}



