 .rightImg {
    width: 500px;
    border-radius: 50%;
 }

 .loginImg {
   width: 500px;
 }

 .logoImg {
   width: 100px;
   margin: 20px;
 }

 .navImg {
  width: 50px;
 }

.snippets {
  width: 500px;
  border-radius: 10px;
}

.teamImg {
  width: 250px;
  border-radius: 50%;
}

@media screen and (max-width: 1100px) {
  .rightImg {
    width: 400px;
    padding: 20px;
 }

 .snippets {
  width: 400px;
  padding: 20px;
}

.teamImg {
  width: 150px;
}
}

@media screen and (max-width: 1100px) {
  .rightImg {
    width: 300px;
    padding: 20px;
 }

 .snippets {
  width: 400px;
  padding: 20px;
}

.teamImg {
  width: 150px;
}
}

@media screen and (max-width: 600px) {
  .rightImg {
    display: none;
 }

 .snippets {
  width: 400px;
  padding: 20px;
}

.teamImg {
  width: 150px;
}
}
